*,
*::after,
*::before {
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
    --darkgreen: rgb(12, 97, 12);
    --green: rgb(171, 213, 108);
}

@keyframes background-gradient {
    0% {background-color: rgb(21, 74, 21) 0%}
    25% {background-color: rgb(9,53,9);}
    50% {background-color: rgb(1, 25, 1);}
    75% {background-color: rgb(9,53,9);}
    100% {background-color: rgb(21, 74, 21) 0%}
}

.container {
    animation-name: background-gradient;
    animation-duration: 5s;
    background: var(--darkgreen);
    background: linear-gradient(117eg, rgb(21, 74, 21) 0%, rgb(9, 53, 9) 35%, rgb(1, 25, 1) 100%);
}

body {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    background-color: var(--darkgreen);
    color: var(--green);
}

header > img {
    position: center;
    padding-top: 100px;
}

header > h1 {
    font-size: 60px;
    margin-top: 0px;
}

header > p {
    font-size: 30px;
}

.flex-container {
    display : flex;
    justify-content: space-evenly;
    margin: 50px;
    font-size: 30px;
} 

.flex-container > ul {
    text-align: left;
    padding-top: 20px;
    font-size: 25px;
}

article > p {
    font-size: 30px;
    font-weight: 800;
    color: whitesmoke;
}

article > h3 {
    font-size: 30px;
}

article > table {
    text-align: center;
    width: 100%;
    padding: 0 auto;
}

footer > nav {
    padding-top: 50px;
    padding-bottom: 25px;
}

.web-links {
    color: whitesmoke;
}






