body {
    margin: 0px;
}

header > h1 {
    font-size: 60px;
    margin-top: 0px;
}

header > p {
    font-size: 30px;
}

.flex-container {
    display : flex;
    justify-content: space-evenly;
    margin: 50px;
    font-size: 30px;
} 

.flex-container > ul {
    text-align: left;
    padding-top: 20px;
    font-size: 25px;
}

article > p {
    font-size: 30px;
    font-weight: 800;
    color: whitesmoke;
}

article > h3 {
    font-size: 30px;
}

article > table {
    text-align: center;
    width: 100%;
    padding: 0 auto;
    margin: 0 120px;
}

footer > nav {
    padding-top: 50px;
    padding-bottom: 25px;
}

.web-links {
    color: whitesmoke;
}






